.obfuscate {
    position: relative;
}

.obfuscate::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: calc(100% + 10px);
    width: 10px;
    box-sizing: border-box;
    border-top: 1px dotted currentColor;
    border-left: 1px dotted currentColor;
    border-bottom: 1px dotted currentColor;
}

.obfuscate[data-hidden=true] {
    background-color: currentColor !important;
}

.obfuscate > .trigger {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: calc(100% + 30px);
    appearance: none;
    color: inherit;
    background-color: transparent;
    border-width: 0;
    padding: 0;
    font-size: 1.6rem;
    padding-left: 1rem;
}